html, body {
  margin: 0;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}
#page-container {
  position: relative;
  min-height: 90vh;
}

#content-wrap {
  padding-bottom: 4em; /* space for footer */
}

h1 {
    padding-left: 20%;
    font-size: 30px;
    font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  margin-bottom: 0.25rem;
}
h3 {
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

#email-wrapper {
  max-width: 800px;
  padding-left: 20%;
  padding-right: 20%;
  color: #666;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}

#email-wrapper p {
  margin: 0;
}

body {
  padding-top: 2%;
}

#body-wrapper {
  max-width: 800px;
  padding-left: 20%;
  padding-right: 20%;
}
#links {
  padding-top: 2%;
  text-align: right;
}
a {
  color: #800080;
}

a.noFrills,
a.noFrills:visited,
a.noFrills:hover,
a.noFrills:active,
a.noFrills:focus {
  color: inherit;       /* Use the surrounding text color */
  text-decoration: none; /* Remove underline */
  pointer-events: auto; /* Keeps it clickable; remove if you don't want it to behave like a link */
}

